.page-padding {
    padding: 4rem;
}

.welcome.page>.narrow>ul {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

.menubutton {
    width: 50vw;
}

.menutext {
    text-align: center;
    width: 50vw;
}
.box {
    margin-top: 10px ;
    margin-bottom: 10px;
}